// Importing website's font family
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oxygen&display=swap');

// Fonts

$ft-oxygen: 'Oxygen', sans-serif;
$ft-novaSquare: 'Nova Square', cursive;


html, body {
	font-family: $ft-oxygen;
	color: $color-black;
}
