// Importing website's font family
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Oxygen&display=swap');

// Fonts

$ft-oxygen: 'Oxygen', sans-serif;
$ft-novaSquare: 'Nova Square', cursive;

$font-map: (
	'title': (
		$ft-novaSquare,
		3rem
	),
	'subtitle': (
		$ft-novaSquare,
		1.5rem
	),
	'text': (
	$ft-oxygen,
	1rem
	)
)


