.c-banner {
	padding: 100px 30px;
	background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('./../assets/banner.jpg');
	background-size: cover;
	color: $color-white;

	& h1 {
		margin: 20px 0;
		@include font-default('title');
	}

	& p {
		@include font-default('subtitle');
	}

	@include for-tablet-portrait-up{
		padding-left: 100px;
		padding-right: 100px;
	}
	}

