.c-header {
	background-color: $color-yellow;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		max-width: 200px;
		min-width: 100px;
	}

	&__nav {

		& a {
			@include font-default('text');
			letter-spacing: 0.05rem;
			padding: 20px;
			font-weight: bold;
			color: $color-grey;
			text-decoration: none;
		}

	}
}
