.c-header {
	background-color: $color-yellow;
	padding: 3vh 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__logo {
		max-width: 200px;
		min-width: 100px;
	}

	&__nav {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& a {
			@include font-default('text');
			letter-spacing: 0.05rem;
			padding: .5rem;
			font-weight: bold;
			color: $color-grey;
			text-decoration: none;
		}

	}

	@include for-tablet-portrait-up {
		padding-left: 100px;
		padding-right: 100px;
	}
	}
